@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #f34eeb;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #510660;
		--foreground: #c3c3c3;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

main {
	position: relative;
	min-height: calc(100vh - 4rem);
	/* Full viewport height minus navbar height */
}